
__pycache__/Button.cpython-39.pyc
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/connect4.iml
.idea/*
__pycache__/interface.cpython-39.pyc
interface.pyc
__pycache__/main.cpython-39.pyc
__pycache__/engine.cpython-39.pyc
